# <center>Class 4</center>

## Pandas

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
import warnings
warnings.filterwarnings('ignore')

`Pandas dataframes` are your tool for working with tabular data. Take it as a programmable version of an Excel sheet. The problem with Excel is that it is too good so it is difficult to motivate users to try something new. Despite its flexibility and user-friendly interface Excel does have limitations, which Pandas can solve. 

Pandas started out as the Python version of R dataframes. Now it has its own ecosystem.

### Pandas Series

Pandas is a columnar structure where each column is essentially a `Pandas Series`. They are strictly 1-dimensional and can contain any data type (integers, strings, floats, objects, etc), including a mix of them. Series can be created from a scalar, a list, ndarray or dictionary using `pd.Series()` (note the captial **“S”**).

By default, series are labelled with indices starting from 0. For example:

In [ ]:
s = pd.Series(data = [-5, 1.3, 21, 6, 3])

In [ ]:
s

But you can add a custom index:

In [ ]:
pd.Series(data = [-5, 1.3, 21, 6, 3],
          index = ['a', 'b', 'c', 'd', 'e'])

Create a series from a dictionary. Your keys are the indices, and your values are yor series values.

In [ ]:
pd.Series(data = {'a': 10, 'b': 20, 'c': 30})

A Pandas series can have a heterogenous data strucure.

In [ ]:
pd.Series([1, 'a', 2.0, np.random.rand(1)])

In [ ]:
 np.random.rand(1)

Question: How can I modify the function above to have the random number itself instead of a numpy array as the last value of the series?

In [ ]:
pd.Series([1, 'a', 2.0,  np.random.rand(1)[0] ])

### Pandas DataFrames

 `DataFrames` are really just Series stuck together! Think of a DataFrame as a dictionary of series, with the _“keys”_ being the column labels and the _“values”_ being the series data.

#### Creating DataFrames

Dataframes can be created using `pd.DataFrame()` (note the capital “D” and “F”). Like series, index and column labels of dataframes are labelled starting from 0 by default. Note that we are using a _list of lists_ as the data input.

In [ ]:
pd.DataFrame([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])

Add `index` and `column` names.

In [ ]:
pd.DataFrame([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]],
             index = ["R1", "R2", "R3"],
             columns = ["C1", "C2", "C3"])

Use  _dictionary_ as input.

In [ ]:

pd.DataFrame(
    {
        "C1": [1, 2, 3],
        "C2": ['A', 'B', 'C']
    } 
    ,     index=["R1", "R2", "R3"]
)

#### Slicing and indexing

There are several main ways to select data from a DataFrame:

- []
- .loc[]
- .iloc[]
- Boolean indexing
- .query()

In [ ]:
df = pd.DataFrame(
    {
        "Name": ["Tom", "Mike", "Tiffany"],
        "Language": ["Python", "Python", "R"],
        "Courses": [5, 4, 7]
    })
df

**Using `[]`**

In [ ]:
df['Name']  # returns a series

In [ ]:
df[['Name']]  # returns a dataframe!

In [ ]:
df[['Name', 'Language']]

In [ ]:
df[0:1]

In [ ]:
df[:1]

In [ ]:
df[1:]

**Indexing with `.loc` and `.iloc`**

Pandas created the methods `.loc[]` and `.iloc[]` as more flexible alternatives for accessing data from a dataframe. Use `df.iloc[]` for _indexing with integers_ and `df.loc[]` for _indexing with labels_.

In [ ]:
df.iloc[0]  # returns a series

In [ ]:
df.iloc[0:2]  # slicing returns a dataframe

In [ ]:
df.iloc[2, 1]  # returns the indexed object

In [ ]:
df

In [ ]:
df.iloc[[0, 1], [1, 2]]  # returns a dataframe

In [ ]:
df.loc[:, 'Name'] # series

In [ ]:
df.loc[:, ['Name']] # dataframe

In [ ]:
df.loc[:, ['Name','Language', 'Language']]

In [ ]:
df.loc[[0, 2], ['Language', 'Courses']]

Get `index` and `column` names

In [ ]:
df.index

You can also redeine the vaules of the index by overwriting the dataframe's `index` attribute.

In [ ]:
df.index = [3,4,5]

In [ ]:
df

In [ ]:
df.index

In [ ]:
type(df.index)

In [ ]:
df.columns

In [ ]:
type(df.columns)

**Boolean indexing**

In [ ]:
df[df['Courses'] > 5]

In [ ]:
df[(df['Name'] == "Tom") & (df.Language == 'Python')]

In [ ]:
df['Name'] == 'Tom'

**Indexing with `.query()`**

In [ ]:
df.query("Courses > 4 & Language == 'Python'") # note the mixed use of double and single quotes. Why is that?

Query also allows you to reference variable in the current workspace using the `@` symbol:

In [ ]:
course_threshold = 4
df.query("Courses > @course_threshold")

### Reading and inspecting data

In [ ]:
df = pd.read_csv(os.path.join(os.pardir, 'data', 'titanic.csv'))

In [ ]:
df.head()

In [ ]:
df.tail()

The `.T` attribute (also available as the transpose() method) helpy you to inspect rows with many columns.

In [ ]:
# closer look at a few rows
df.iloc[0:2].T

In [ ]:
df.info()

- Pclass: passenger class
- SibSp: number of siblings & spouses aboard
- Parch: number of parents & children aboard
- Fare: ticket price
- Cabin: room id, if any
- Embarked: port of departure (Cherbourg, Queenstown, Southampton)

In [ ]:
df.describe()

In [ ]:
df.describe().T

#### Some simple metrics

There are two ways to access individual columns:
```python
df['Survived'] # refer it as a column name in brakcets
df.Survived # refer it as an attribute of the dataframe
```

In [ ]:
df.Survived.value_counts()

In [ ]:
df.Class.value_counts()

In databases, 'Class' is a *dimension* and 'Survivied' is a *metric*. You can aggregate *metrics* by *dimensions*. In databases these aggregations are done through a `GROUP BY` caluse. `groupby` is also availabel in Pandas.

In [ ]:
df.groupby(by = 'Class')['Survived'].mean()

In [ ]:
df.groupby(by = 'Sex')['Survived'].mean()

In [ ]:
df.groupby(by = ['Class', 'Sex'])['Survived'].mean()

<br> How can we interpet these `mean` values?

In [ ]:
df.isna().sum()

Let's assume that where 'Survived' is missing then the person did not survive. We can now replace missing values with zero (did not survive). The `inplace` clause modifies the dataframe *inplace*. It means that Pandas DataFrames are *mutable*

In [ ]:
df.Survived.fillna(0, inplace = True)

In [ ]:
df.isna().sum()

In [ ]:
df.groupby(by = ['Class', 'Sex'])['Survived'].mean()

In [ ]:
df.groupby(["Pclass"]).agg({"Fare": [np.mean, np.var], "Age": np.mean})

You can use `map()` to format the numbers in the dataframe.

In [ ]:
df.groupby(["Pclass"]).agg({"Fare": [np.mean, np.var], "Age": np.mean}).map('{:,.1f}'.format)

#### Filtering

In [ ]:
df[df.Embarked == 'C'] # embarked is Cherbourg

In [ ]:
df[(df.Embarked == 'C') & (df.Pclass == 3)]

### Modifying dataframes

#### Creating new columns

In [ ]:
df['Is_adult'] = df.Age > 18

In [ ]:
df.iloc[0].T

In [ ]:
df.Is_adult.sum()

In [ ]:
def is_english(value):
    if 'England' in value:
        return 1
    else:
        return 0

In [ ]:
df['Is_English'] = df.Hometown.apply(is_english) # This will throw an error. Why?

In [ ]:
df.Hometown.isna().sum()

In [ ]:
df.Hometown.isna() # it looks like a mask!

In [ ]:
df[df.Hometown.isna()]

In [ ]:
df.loc[557, 'Hometown']

In [ ]:
type(df.loc[557, 'Hometown'])

In [ ]:
def is_english(value):
    if 'England' in str(value): # NaNs are umbers so we need to cast them into strings to make our function work for each entry
        return 1
    else:
        return 0

In [ ]:
df['Is_English'] = df.Hometown.apply(is_english)

In [ ]:
df['Is_English'].sum()

#### Sorting and resetting indices

In [ ]:
# this operation will be executed 'inplace'
df.sort_values(by = 'Age', inplace = True)
df.head()

In [ ]:
# instead of inplace we can also recreate the dataframe + we can define acending or descending sorting order

df = df.sort_values(by = ['Fare', 'Age'], ascending = [False,  True])
df.head()

Note: Pandas dataframes are *mutable* so many operations can be done *inplace*. *Spark* dataframes, for instance, are immutable, so you need to recreate them every time you modifiy them.

In [ ]:
df.sort_values(by = 'Age', inplace = True)
df = df.sort_values(by = 'Age')

In [ ]:
df.reset_index(drop = True, inplace = True)
df.head()

In [ ]:
df.tail()

### Cleaning & modifing tables using Pandas

We are cleaning our favourite Vienna hotels table.

In [ ]:
df_raw = pd.read_csv(os.path.join(os.pardir, 'data', 'hotelbookingdata-vienna.csv'))

In [ ]:
df_raw.info()

In [ ]:
df_raw.head().T

Getting distance from city center as a float.

In [ ]:
df_raw.center1distance.iloc[0]

In [ ]:
df_raw.center1distance.iloc[0].split()

In [ ]:
df_raw.center1distance.iloc[0].split()[0]

In [ ]:
float(df_raw.center1distance.iloc[0].split()[0])

Putting it all together:

df_raw["distance"] = df_raw["center1distance"].str.split().apply(lambda x: float(x[0]))

or:

In [ ]:
df_raw["distance"] = df_raw["center1distance"].apply(lambda x: float(x.split()[0]))

In [ ]:
df_raw.distance

In [ ]:
df_raw.distance.plot(kind = 'hist', bins = 26, rwidth = 0.9);

In [ ]:
df_raw.accommodationtype.iloc[0]

In [ ]:
df_raw.accommodationtype.iloc[0].split('@')

In [ ]:
df_raw.accommodationtype.iloc[0].split('@')[1]

In [ ]:
df_raw['accommodation_type'] = df_raw.accommodationtype.apply(lambda x: x.split('@')[1])

In [ ]:
df_raw.accommodation_type.value_counts()

In [ ]:
df_raw.guestreviewsrating.isna().sum()

In [ ]:
df_raw.guestreviewsrating.iloc[0]

In [ ]:
df_raw.guestreviewsrating.iloc[0].split()

In [ ]:
df_raw.guestreviewsrating.iloc[0].split()[0]

In [ ]:
isinstance(df_raw.guestreviewsrating.iloc[0].split()[0], str)

In [ ]:
float(df_raw.guestreviewsrating.iloc[0].split()[0])

In [ ]:
df_raw.guestreviewsrating.value_counts()

In [ ]:
df_raw['rating'] = df_raw.guestreviewsrating.apply(lambda x: float(x.split()[0]) if isinstance(x, str) else None)

In [ ]:
# Check results
df_raw.rating.value_counts()

In [ ]:
df_raw.rating.isna().sum()

Rename columns

In [ ]:
df_raw.rename(
    columns = {
        "rating2_ta": "ratingta",
        "rating2_ta_reviewcount": "ratingta_count",
        "addresscountryname": "country",
        "s_city": "city",
        "starrating": "stars",
    }, 
    inplace = True
)

In [ ]:
df_raw.head()

In [ ]:
df_raw[['hotel_id', 'neighbourhood',  'distance', 'stars', 'rating', 'ratingta_count', 'accommodation_type',
       'price', 'city']]

df_raw[['hotel_id', 'neighbourhood',  'distance', 'stars', 'rating', 
        'ratingta_count', 'accommodation_type', 'price', 'city']].to_csv('hotels_vienna_clean.csv')